{% extends 'owner/master_page.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/manage_prod.css' %}">
{% endblock %}

{% block content %}
<br><br>
<div>
    <table style="width: 60%; margin: auto;">
        <thead>
            <tr>
                <th>CUSTOMER ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>CONTACT</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in cus_list %}
            <tr>
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.contact_no}}</td>              
            </tr>
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endblock  %}